final_project/n8n_agent_continue.json
{
  "name": "Seller Quality Optimizer - Continue (Final JSON Fix)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Parse prompt and fetch context\nconst promptResponse = $input.first().json;\nlet dallePrompt;\n\ntry {\n  let content = promptResponse.message?.content || promptResponse.text || '';\n  content = content.replace(/^```json\\s*/i, '').replace(/\\s*```$/i, '').trim();\n  const parsed = JSON.parse(content);\n  dallePrompt = parsed.dalle_prompt;\n} catch (e) {\n  dallePrompt = null;\n}\n\n// Fetch Context\nlet contextNode;\nconst possibleNodes = ['Aggregate All Sentiments2', 'Aggregate All Sentiments', 'Aggregate Sentiments'];\nfor (const name of possibleNodes) {\n    try {\n        const items = $(name).all();\n        if (items.length > 0 && items[0].json.product) {\n            contextNode = items[0].json;\n            break;\n        }\n    } catch (e) {}\n}\n\nif (!contextNode && promptResponse.product) { contextNode = promptResponse; }\n\nif (!contextNode) {\n    contextNode = {\n        product: { title: \"Test Product\" },\n        discrepancy_details: [\"Quality issues\"],\n        overall_sentiment: \"negative\"\n    };\n}\n\nif (!dallePrompt) {\n    dallePrompt = `Product photography of ${contextNode.product.title}. Show realistic version based on customer complaints: ${contextNode.discrepancy_details ? contextNode.discrepancy_details[0] : 'defects'}. White background.`;\n}\n\nreturn {\n  json: {\n    ...contextNode,\n    dalle_prompt: dallePrompt\n  }\n};"
      },
      "id": "parse-dalle-prompt",
      "name": "Parse DALL-E Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        100
      ]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/images/generations",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"dall-e-3\",\n  \"prompt\": \"{{ $json.dalle_prompt }}\",\n  \"size\": \"1024x1024\",\n  \"quality\": \"hd\",\n  \"style\": \"natural\",\n  \"n\": 1\n}",
        "options": {}
      },
      "id": "gen-model-1",
      "name": "Gen Model 1 (DALL-E 3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3000,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst url = data.data[0].url;\nconst context = $('Parse DALL-E Prompt').first().json;\nconst complaints = context.discrepancy_details ? context.discrepancy_details.join(', ') : 'defects';\n\nreturn { \n    json: { \n        url: url,\n        complaints: complaints\n    } \n};"
      },
      "id": "norm-1",
      "name": "Get URL 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Analyze this image against these complaints: {{ $json.complaints }}. Score (1-10) and explain. Output JSON: {score: number, analysis: string}\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"{{ $json.url }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "id": "vision-1",
      "name": "Analyze Image 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3400,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.choices[0].message.content;\nconst parsed = JSON.parse(content);\nconst url = $('Get URL 1').first().json.url;\n\nreturn {\n  json: {\n    model_name: 'DALL-E 3',\n    image_url: url,\n    score: parsed.score,\n    analysis: parsed.analysis\n  }\n};"
      },
      "id": "meta-1",
      "name": "Format Result 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/images/generations",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"dall-e-3\",\n  \"prompt\": \"{{ $json.dalle_prompt }}\",\n  \"size\": \"1024x1024\",\n  \"quality\": \"hd\",\n  \"style\": \"vivid\",\n  \"n\": 1\n}",
        "options": {}
      },
      "id": "gen-model-2",
      "name": "Gen Model 2 (GPT-Image-1)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3000,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst url = data.data[0].url;\nconst context = $('Parse DALL-E Prompt').first().json;\nconst complaints = context.discrepancy_details ? context.discrepancy_details.join(', ') : 'defects';\n\nreturn { \n    json: { \n        url: url,\n        complaints: complaints\n    } \n};"
      },
      "id": "norm-2",
      "name": "Get URL 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Analyze this image against these complaints: {{ $json.complaints }}. Score (1-10) and explain. Output JSON: {score: number, analysis: string}\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"{{ $json.url }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "id": "vision-2",
      "name": "Analyze Image 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3400,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.choices[0].message.content;\nconst parsed = JSON.parse(content);\nconst url = $('Get URL 2').first().json.url;\n\nreturn {\n  json: {\n    model_name: 'GPT-Image-1',\n    image_url: url,\n    score: parsed.score,\n    analysis: parsed.analysis\n  }\n};"
      },
      "id": "meta-2",
      "name": "Format Result 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        300
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3800,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate Results\nconst items = $input.all();\nconst r1 = items[0].json; // Result 1\nconst r2 = items[1].json; // Result 2\n\n// Determine Best\nconst best = r1.score >= r2.score ? r1 : r2;\n\n// Get Context\nconst context = $('Parse DALL-E Prompt').first().json;\n\nreturn {\n  json: {\n    asin: context.asin,\n    product_title: context.product.title,\n    sentiment: context.overall_sentiment,\n    summarized_review: context.discrepancy_details ? context.discrepancy_details.join(' | ') : '',\n    \n    img1_url: r1.image_url,\n    img1_score: r1.score,\n    \n    img2_url: r2.image_url,\n    img2_score: r2.score,\n    \n    best_model: best.model_name,\n    judgment: `Best: ${best.model_name} (Score ${best.score}). ${best.analysis}`,\n    \n    analyzed_at: new Date().toISOString()\n  }\n};"
      },
      "id": "final-fmt",
      "name": "Prepare Sheet Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4000,
        150
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.OUTPUT_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Analysis Results"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ASIN": "={{ $json.asin }}",
            "Product": "={{ $json.product_title }}",
            "Sentiment": "={{ $json.sentiment }}",
            "Summarized Review": "={{ $json.summarized_review }}",
            "Image 1 URL": "={{ $json.img1_url }}",
            "Image 1 Score": "={{ $json.img1_score }}",
            "Image 2 URL": "={{ $json.img2_url }}",
            "Image 2 Score": "={{ $json.img2_score }}",
            "Best Model": "={{ $json.best_model }}",
            "Judgment": "={{ $json.judgment }}",
            "Date": "={{ $json.analyzed_at }}"
          }
        },
        "options": {}
      },
      "id": "save-to-sheets",
      "name": "Save Analysis to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4200,
        150
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return { json: $json };"
      },
      "id": "final-out",
      "name": "Final Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        150
      ]
    }
  ],
  "connections": {
    "Parse DALL-E Prompt": {
      "main": [
        [
          {
            "node": "Gen Model 1 (DALL-E 3)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gen Model 2 (GPT-Image-1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen Model 1 (DALL-E 3)": {
      "main": [
        [
          {
            "node": "Get URL 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get URL 1": {
      "main": [
        [
          {
            "node": "Analyze Image 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image 1": {
      "main": [
        [
          {
            "node": "Format Result 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen Model 2 (GPT-Image-1)": {
      "main": [
        [
          {
            "node": "Get URL 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get URL 2": {
      "main": [
        [
          {
            "node": "Analyze Image 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image 2": {
      "main": [
        [
          {
            "node": "Format Result 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result 1": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result 2": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Prepare Sheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Data": {
      "main": [
        [
          {
            "node": "Save Analysis to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Analysis to Sheets": {
      "main": [
        [
          {
            "node": "Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}